.texto1
    {
    position: absolute;
    color: white;
    top: 350px; 
    left: 750px;
    width: 350px;
    animation: bounceIn 3s;
    }
    .titulo
    {
        position: absolute;
        top: 20px;
        left: 550px;
        animation: rubberBand 4s;
        animation: bounceInDown 4s;
        
}
    
        .titulo2
        {
        position: absolute;
        top: 135px;
        left: 625px;
        animation: rubberBand 5s;
        animation: bounceInUp 5s;

        }
    
    .discneymar
    {
        position: absolute;
        top: 350px; 
        left: 499px;  
        animation: bounceIn 3s;
        
    }
   
    .planeta
    {
        position: absolute;
        height: 50px;
        left: 999px;
        top: 125px;
        animation: bounceIn 4s;
        animation: anima_planeta 10s infinite alternate;
        animation-delay: 2s;
        animation: bounceIn 4s;
        animation: fadeInRightBig 2s;
    }
   
    .planeta2
    {
        position: absolute;
        height: 50px;
        left: 525px;
        top: 125px;  
        animation: anima_planeta2 10s infinite alternate;
        animation-delay: 2s;
        animation: fadeInLeftBig 2s;
        
    }
   .disquete
   {
       position: absolute;
       height: 100px;
       left: 350px;
       top: 425px;
       animation: fadeInLeftBig 2s;
   }

   .disquete2
   {
       position: absolute;
       height: 100px;
       left: 1125px;
       top: 425px;
       animation: fadeInRightBig 2s;
   }
   
   footer {
    padding: 50px;
    text-align: center;
    color: white;
    position: absolute;
    width: 90%; 
    line-height: 100px;
    top: 535px;
   
  }

  table, th, td {
    border:px solid rgb(255, 255, 255);
  }

  a:link {
    color: rgb(253, 253, 253);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }